@import "../../node_modules/vue-material/dist/theme/engine";

@include md-register-theme("default", (
        primary: #C39A6B,
        text-primary-on-primary: #ffffff,
        accent: md-get-palette-color(red, A200),
        whiteText: #fff,
        theme: light,
));
@include md-register-theme("gray", (
        primary: #C5C5C5,
        text-primary-on-primary: #ffffff,
        accent: md-get-palette-color(red, A200),
        whiteText: #fff,
        theme: light
));
@include md-register-theme("blue", (
        primary: #8AB2C5,
        text-primary-on-primary: #ffffff,
        accent: #ffb360,
        whiteText: #fff,
        theme: light
));
@include md-register-theme("black", (
        primary: #000000,
        text-primary-on-primary: #ffffff,
        accent: #a35157,
        whiteText: #fff,
        theme: dark
));
@import "../../node_modules/vue-material/dist/theme/all";
